.button{
    background-color: transparent;
    color: black;
    border: none;
    font-family: var(--body-font);
    font-size: var(--default-font-size);
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 32px;
    cursor: pointer;
}

.button--blue {

    border-color: var(--light-blue);
}

.button--yellow {

    border-color: var(--yellow-1);
}

/* hovered buttons*/
.button--blue:hover{
    
    background-color: var(--light-blue);

}

.button--yellow:hover{

    background-color: var(--yellow-1);
}
/* active buttons*/
.button--blue:active{

    background-color: var(--dark-blue);
}

.button--yellow:active{

    background-color: var(--yellow-2);
}

/* disabled buttons */
.button--blue:disabled{

    cursor: not-allowed;
    opacity: 0.4;

}

.button--yellow:disabled{

    cursor: not-allowed;
    opacity: 0.4;

}